@model PruebaPlanilla.Models.tbTipoPlanillaDetalleDeduccion

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutBase.cshtml";
}

<div class="col-lg-12">
<div class="ibox float-e-margins">
<div class="ibox-title">
	@Html.ActionLink("Regresar", "Index", null, new {@class="pull-right" })
	<h2>Details</h2>
</div>

<div class="ibox-content">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tpdd_UsuarioCrea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tpdd_UsuarioCrea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tpdd_FechaCrea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tpdd_FechaCrea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tpdd_UsuarioModifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tpdd_UsuarioModifica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tpdd_FechaModifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tpdd_FechaModifica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbCatalogoDeDeducciones.cde_DescripcionDeduccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbCatalogoDeDeducciones.cde_DescripcionDeduccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbCatalogoDePlanillas.cpla_DescripcionPlanilla)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbCatalogoDePlanillas.cpla_DescripcionPlanilla)
        </dd>

    </dl>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.tpdd_IdPlanillaDetDeduccion }, new {@class="btn btn-primary" }) 
    @Html.ActionLink("Cancelar", "Index", null, new {@class="btn btn-default" })
</p>
</div>
</div>
</div>
