@model PruebaPlanilla.Models.tbTipoDeduccion

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutBase.cshtml";
}

<div class="col-lg-12">
<div class="ibox float-e-margins">
<div class="ibox-title">
	@Html.ActionLink("Regresar", "Index", null, new {@class="pull-right" })
	<h2>Details</h2>
</div>

<div class="ibox-content">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tde_Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tde_Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tde_UsuarioCrea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tde_UsuarioCrea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tde_FechaCrea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tde_FechaCrea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tde_UsuarioModifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tde_UsuarioModifica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tde_FechaModifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tde_FechaModifica)
        </dd>

    </dl>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.tde_IdTipoDedu }, new {@class="btn btn-primary" }) 
    @Html.ActionLink("Cancelar", "Index", null, new {@class="btn btn-default" })
</p>
</div>
</div>
</div>
