@model PruebaPlanilla.Models.tbCatalogoDeIngresos

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutBase.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tbCatalogoDeIngresos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cin_DescripcionIngreso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cin_DescripcionIngreso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cin_UsuarioCrea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cin_UsuarioCrea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cin_FechaCrea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cin_FechaCrea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cin_UsuarioModifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cin_UsuarioModifica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cin_FechaModifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cin_FechaModifica)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.cin_IdIngreso }) |
    @Html.ActionLink("Back to List", "Index")
</p>
